@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0px;
}

.container {
    background-image: url('https://res.cloudinary.com/dmoakoud8/image/upload/v1751698537/dark-gradient-background-with-copy-space_53876-99548_xjeycm.avif');
    background-size: cover;
    min-height: 100vh;

}

h1 {
    text-align: center;
    font-family: "Roboto";
    color: white;
    margin-bottom: 10px;
    padding-top: 10px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image {
    max-height: 280px;
    max-width: 280px;
    object-fit: contain;
    margin: 10px;
    transition: 400ms;
    cursor: pointer;
    filter: grayscale(1);
}

.image:hover {
    transform: scale(1.10);
    filter: none;

}
